.form-container__input-wrapper {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #666;
  }
  
  .form-container__field.with-icon {
    padding-left: 25px; 
  }