.form__button {
    width: 100%;
    height: 54px;
    background-color: #775CE5;
    border-radius: 12px;
    color: #fff;
    font-weight: 500;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.form__button:hover {
    transition: opacity 0.5s;
    opacity: 0.7;
}

.form__button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none; /* Забороняє будь-які дії на кнопці */
  }