.start {   
    position: relative;
    margin: 12px auto;
    width: 392px;
    height: 852px;
    border: 1px solid rgb(227, 197, 197);
    border-radius: 12px;
    overflow: hidden;
}

.title__intro {
    font-size: 42px;
    font-weight: 600;
    color: #fff;
}

.subtitle__intro {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.bgd-main {
    display: flex;
    position: absolute;
    left: 0;
    width: 392px;
    height: 584px;
    border-radius: 12px 12px 32px 32px;
}

.bgd-second {    
    display: flex;
    position: absolute;
   right: -300px;  
   overflow: hidden;
}

.head__start {
    display: flex;
    justify-content: center;
    position: relative;
    top: 108px;
} 

  .start__buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 630px;
    padding: 10px;     
  }

  .start__button--in {
    background-color: #fff;
    color: #775CE5;
    border: 1px solid #775CE5;
  }
  
 
  
  
  