

.setting-btn {
    background-color: #fff;
    color: #775CE5;
    border: 1px solid #775CE5;
    border-radius: 12px;
  }

  .setting-btn--red {
    color: #F23152;
    border: 1px solid #F23152;
  }
  
  

 

 
  