

.page-wrapper {
   
    padding: 54px 20px;
    margin: 12px auto;
    width: 392px;
    height: 852px;
    border: 1px solid rgb(227, 197, 197);
    border-radius: 12px;
}

.page {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    position: relative; 
  }
  
  .page-title {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 20px;
    font-weight: 600;
  }
  
